
<div class="login-body">
<h2 class="no_top">Login</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email, "Email" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "player@rpg.com" %>
  </div>

  <div class="field">
    <%= f.label :password, "Senha" %>
    <%= f.password_field :password, autocomplete: "off", placeholder: "errepege" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me, class: "inline-item" %>
      <%= f.label :remember_me, "Manter conectado", class: "inline-item" %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Logar" %>
  </div>
<% end %>

<%# render "users/shared/links" %>
</div>
