<%= form_with(model: index_video, local: true) do |form| %>
  <% if index_video.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(index_video.errors.count, "error") %> prohibited this index_video from being saved:</h2>

      <ul>
      <% index_video.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :npc_id %>
    <%= form.text_field :npc_id, id: :index_video_npc_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
