<%= render 'public/menu' %>

<p id="notice"><%= notice %></p>

<h1>Skills</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Related ability</th>
      <th>Graduation</th>
      <th>Trained</th>
      <th>Dex penalty</th>
      <th>Weight penalty</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @skills.each do |skill| %>
      <tr>
        <td><%= skill.name %></td>
        <td><%= skill.description %></td>
        <td>
            <% if skill.related_ability == 0  %>
              <%= 'Força' %>
            <% elsif skill.related_ability == 1  %>
              <%= 'Destreza' %>
            <% elsif skill.related_ability == 2  %>
              <%= 'Constituição' %>
            <% elsif skill.related_ability == 3  %>
              <%= 'Inteligência' %>
            <% elsif skill.related_ability == 4  %>
              <%= 'Sabedoria' %>
            <% else %>
              <%= 'Carisma' %>
            <% end %>
        </td>
        <td><%= skill.graduation %></td>
        <td><%= skill.trained %></td>
        <td><%= skill.dex_penalty %></td>
        <td><%= skill.weight_penalty %></td>
        <td><%= link_to 'Mostrar', skill %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
