<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @skill.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @skill.description %>
</p>

<p>
  <strong>Related ability:</strong>
  <%= @skill.related_ability %>
</p>

<p>
  <strong>Graduation:</strong>
  <%= @skill.graduation %>
</p>

<p>
  <strong>Trained:</strong>
  <%= @skill.trained %>
</p>

<p>
  <strong>Dex penalty:</strong>
  <%= @skill.dex_penalty %>
</p>

<p>
  <strong>Weight penalty:</strong>
  <%= @skill.weight_penalty %>
</p>

<%= link_to 'Edit', edit_skill_path(@skill) %> |
<%= link_to 'Back', skills_path %>
