<%= render 'public/menu' %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @skill.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @skill.description %>
</p>

<p>
  <strong>Related ability:</strong>
  <% if @skill.related_ability == 0  %>
    <%= 'Força' %>
  <% elsif @skill.related_ability == 1  %>
    <%= 'Destreza' %>
  <% elsif @skill.related_ability == 2  %>
    <%= 'Constituição' %>
  <% elsif @skill.related_ability == 3  %>
    <%= 'Inteligência' %>
  <% elsif @skill.related_ability == 4  %>
    <%= 'Sabedoria' %>
  <% else %>
    <%= 'Carisma' %>
  <% end %>
</p>

<p>
  <strong>Graduation:</strong>
  <%= @skill.graduation %>
</p>

<p>
  <strong>Trained:</strong>
  <%= @skill.trained %>
</p>

<p>
  <strong>Dex penalty:</strong>
  <%= @skill.dex_penalty %>
</p>

<p>
  <strong>Weight penalty:</strong>
  <%= @skill.weight_penalty %>
</p>

<%= link_to 'Edit', edit_skill_path(@skill) %> |
<%= link_to 'Back', skills_path %>
