<%= form_with(model: player, local: true) do |form| %>
  <% if player.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(player.errors.count, "error") %> prohibited this player from being saved:</h2>

      <ul>
      <% player.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field" id="inline-item">
    <%= form.label :name, t('name') %>
    <%= form.text_field :name, id: :player_name %>
  </div>

  <div class="field" id="inline-item">
    <%= form.label :race_id, t('race') %>
    <%= form.collection_select(:race_id, Race.all, :id, :name, {}, {class: 'race', onchange: "idade_racas()", id: 'race-id'}) %>
    
  </div>

  <div class="field" id="inline-item">
    <%= form.label :alignment_id, t('alignment') %>
    <%= form.collection_select :alignment_id, Alignment.all, :id, :kind %>
  </div>

  <div class="field" id="inline-item">
    <%= form.label :dnd_class_id, t('class') %>
    <%= form.collection_select(:dnd_class_id, DndClass.all, :id, :name, {},{class: 'class', onchange: "idade_racas()", id: 'class-id'}) %>
  </div>
  
  <div class="field" id="inline-item">
    <%= form.label :age, t('age') %>
    <%= form.number_field :age, id: :player_age, min: 5, max:10, default: 7, id: "idade" %>
  </div>

  <div class="field" id="inline-item">
    <%= form.label :gender, t('gender') %>
    <%= form.select(:gender, options_for_select([['Feminino', 1], ['Masculino', 2]])) %>
  </div>

  <div class="field">
    <%= form.label :str, t('str') %>
    <%= form.number_field :str, id: :player_str, min: 3, max: 18 %>
  </div>

  <div class="field">
    <%= form.label :dex, t('dex') %>
    <%= form.number_field :dex, id: :player_dex, min: 3, max: 18 %>
  </div>

  <div class="field">
    <%= form.label :con, t('con') %>
    <%= form.number_field :con, id: :player_con, min: 3, max: 18 %>
  </div>

  <div class="field">
    <%= form.label :intel, t('intel') %>
    <%= form.number_field :intel, id: :player_intel, min: 3, max: 18 %>
  </div>

  <div class="field">
    <%= form.label :wis, t('wis') %>
    <%= form.number_field :wis, id: :player_wis, min: 3, max: 18 %>
  </div>

  <div class="field">
    <%= form.label :cha, t('cha') %>
    <%= form.number_field :cha, id: :player_cha, min: 3, max: 18 %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<%# // IDADES POR RAÇAS E CLASSES %>
<script>    
    function idade_racas(){
      var r = document.getElementById("race-id").selectedIndex; 
      var c = document.getElementById("class-id").selectedIndex;
      var min = 0;
      var max = 0;
      if (r<=3){ //humanos
        min = 15;
        max = 90;
        if (c == 0 || c == 4 || c == 6 ){ //bárbaro - min
          min+=1; 
        } else if ( c == 1 || c == 5 || c == 9 || c == 10) {
          min+=1;
        } else {
          min+=2;
        }
      } else if (r >=4 && r<=8){ //elfos
        min = 110;
        max = 750;
        if (c == 0 || c == 4 || c == 6 ){ //bárbaro - min
          min+=4; 
        } else if ( c == 1 || c == 5 || c == 9 || c == 10) {
          min+=6;
        } else {
          min+10;
        }
      } else if (r >=9 && r<=11){ //anões
        min = 40;
        max = 450;
        if (c == 0 || c == 4 || c == 6 ){ //bárbaro - min
          min+=3; 
        } else if ( c == 1 || c == 5 || c == 9 || c == 10) {
          min+=5;
        } else {
          min+7;
        }
      } else if (r == 12){ //meio-orcs
        min = 14;
        max = 450;
        if (c == 0 || c == 4 || c == 6 ){ //bárbaro - min
          min+=1; 
        } else if ( c == 1 || c == 5 || c == 9 || c == 10) {
          min+=1;
        } else {
          min+=2;
        }
      } else if (r >=13 && r<=18){ //meio-elfos
        min = 20;
        max = 185;
        if (c == 0 || c == 4 || c == 6 ){ //bárbaro - min
          min+=1; 
        } else if ( c == 1 || c == 5 || c == 9 || c == 10) {
          min+=2;
        } else {
          min+=3;
        }
      } 
      
      document.getElementById("idade").attributes[1].value = min;
      document.getElementById("idade").attributes[2].value = max; 
      document.getElementById("idade").value = min;
      //document.getElementById("coo").innerHTML = coo;

    }    
</script>