
<div class="site-body"> 
  <h1>Seus Personagens</h1>
<% if @players.count != 0 %>
  <table>
    <thead>
      <tr>
        <th><%= t('sheet.name')%></th>
        <th><%= t('sheet.race')%></th>
        <th><%= t('sheet.age')%></th>
        <th><%= t('sheet.gender')%></th>
        <th><%= t('sheet.class')%></th>
        <th><%= t('sheet.alignment') %></th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @players.each do |player| %>
        <tr>
          <td class="index-line"><%= player.name %></td>
          <td class="index-line"><%= player.race.name %></td>
          <td class="index-line"><%= player.age %></td>
          <td class="index-line"><%= player.gender %></td>
          <td class="index-line"><%= player.dnd_class.name %>
            <% if player.dnd_class.name == 'Bárbaro' %>
              <%= image_tag("S_Buff14.png") %>
            <% elsif player.dnd_class.name == 'Bardo' %>
              <%= image_tag("I_Key04.png") %>
            <% elsif player.dnd_class.name == 'Clérigo' %>
              <%= image_tag("Ac_Medal01.png") %>
            <% elsif player.dnd_class.name == 'Druida' %>
              <%= image_tag("I_Leaf.png") %>
            <% elsif player.dnd_class.name == 'Feiticeiro' %>
              <%= image_tag("S_Shadow03.png") %>
            <% elsif player.dnd_class.name == 'Guerreiro' %>
              <%= image_tag("C_Elm03.png") %>
            <% elsif player.dnd_class.name == 'Ladino' %>
              <%= image_tag("W_Dagger006.png") %>
            <% elsif player.dnd_class.name == 'Mago' %>
              <%= image_tag("C_Hat01.png") %>
            <% elsif player.dnd_class.name == 'Monge' %>
              <%= image_tag("S_Buff03.png") %>
            <% elsif player.dnd_class.name == 'Paladino' %>
              <%= image_tag("S_Holy07.png") %>
            <% elsif player.dnd_class.name == 'Ranger' %>
              <%= image_tag("W_Bow02.png") %>
            <% end %>
          </td>
          <td class="index-line"><%= player.alignment.kind %></td>
         <!-- <td class="index-line"><%# link_to 'Show', player %></td> -->
          <td class="index-line"><%= link_to t('Edit'), edit_player_path(player) %></td>
          <td class="index-line"><%= link_to t('Destroy'), player, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% else %>
  Nenhum personagem registrado
  <br>
<% end %>

  <br>
  <%= link_to 'Novo Personagem', user_new_player_path %>
</div>