<%= render 'public/menu' %>


<p id="notice"><%= notice %></p>
<div class="site-body">
	<h1>
  		<%= @scenario.name %>
	</h1>
<p class="scenario">
<%= @scenario.description %>
<p>



<%= link_to 'Voltar', scenarios_path %>
