<%= form_with(model: npc, local: true) do |form| %>
  <% if npc.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(npc.errors.count, "error") %> prohibited this npc from being saved:</h2>

      <ul>
      <% npc.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  

  <div class="field">
    <%# form.label :race_id %>
    <%# form.collection_select(:race_id, Race.all, :id, :name) %>
  </div>

  <div class="field">
    <%# form.label :role_id %>
    <%# form.collection_select(:role_id, Role.all, :id, :name) %>
  </div>

  <div class="field">
    <%= form.label :background %>
    <%= form.text_area :background, id: :npc_background %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :npc_description %>
  </div>

  <div class="field">
    <%= form.label :age %>
    <%= form.number_field :age, id: :npc_age %>
  </div>

  <div class="field">
    <%= form.label :gender %>
    <%= form.select(:gender,['Masculino','Feminino']) %>
  </div>

  <div class="field">
    <%= form.label :family %>
    <%= form.select(:family,['Hann','Flambard', 'Wolfgang', 'Mathghamhain', 'Mainnet', 'Gregory']) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
