<%= render 'public/menu' %>
<p id="notice"><%= notice %></p>

<h1>Npcs</h1>
<% if @npcs.count > 0  %>

<p><b>Dados de NPCs</b></p>

<table>
<caption><h3>Dados da População: Sexo</h3></caption>
  <tbody>
      <tr>
        <td><b>Homens: </b></td>
        <td><%= @npcs.where(gender: 'Masculino').count %></td>
        <td><b>Mulheres: </b></td>
        <td><%= @npcs.where(gender: 'Feminino').count %></td>
      </tr>
  </tbody>
</table>

<table>
<caption><h3>Dados da População: Faixa Etária</h3></caption>
  <tbody>
      <tr>
        <td><b>Crianças: </b></td>
        <td><%= @npcs.where(age_range: 'Criança').count %></td>
        <td><b>Adolescentes: </b></td>
        <td><%= @npcs.where(age_range: 'Adolescente').count %></td>
        <td><b>Adultos: </b></td>
        <td><%= @npcs.where(age_range: 'Adulto').count %></td>
        <td><b>Idosos: </b></td>
        <td><%= @npcs.where(age_range: 'Idoso').count %></td>
      </tr>
  </tbody>
</table>

<table>
<caption><h3>Dados da População: Raças</h3></caption>
  <tbody>
    <% @raças.order(:name).each do |raça| %>
      <% if @npcs.where(race_id: raça.id).count != 0 %>
        <tr>
          <td><b><%= link_to raça.name, raça %>:</b> 
          <%= @npcs.where(race_id: raça.id).count %></td>  
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<p>Tabela de Toda População (por idade)</p>
<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Raça</th>
      <th>Idade</th>
      <th>Faixa Etária</th>
      <th>Sexo</th>
      <th>Ocupação</th>
      <th>Família</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <%# @npcs.order(:name).each do |npc| %>
    <% @npcs.each do |npc| %>
      <tr>
        <td><%= npc.name %></td>
        <td><%= npc.race.name %></td>
        <td><%= npc.age %></td>
        <td><%= npc.age_range %></td>
        <td><%= npc.gender %></td>
        <td><%= link_to npc.role.name, npc.role %></td>
        <td><%= npc.family %></td>
        <td><%= link_to 'Mostrar', npc_show_path(npc) %></td>
        <td><%# link_to 'Editar', edit_npc_path(npc) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% else #if @npcs.count > 0  %> 
  <% 'Sem NPCS Cadastrados' %>
<% end %>

<br>

<p>
<%# link_to 'Novo', new_npc_path %>
</p>
